/*  Title: My First App (Assignment 1)
	Created By: Gawain Bracy II
	Date: 05/03/12
	MiU 1205
*/
html, body, ul, li {
  	height: 100%;
  	margin: 0;
  	padding: 0;
}

h1{
	color: #1E2129;
	font: 1.7em Helvetica, "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
	margin: 10px 0px;
	border: 1px solid #999;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 
	inset 1px 1px 15px rgba(0,0,0,0.24),
	inset -1px -1px 15px rgba(0,0,0,0.24);
	-moz-box-shadow:
	inset 1px 1px 15px rgba(0,0,0,0.24),
	inset -1px -1px 15px rgba(0,0,0,0.24);
	padding: 10px;
	background: #CCBAAB;
	width: 92%;
}

ul {
	list-style-type: none;
}
.search_field {
    display: inline-block;
    border: 1px inset #ccc;
}

.search_field input {
    border: none;
    margin-bottom: 5px;
    padding: 0;
    padding-bottom: 5px;
}

.search_field button {
    border: none;
    background: none;
}

body{
	background-color: #9c9985;
}

#browse{
	font-style: bold;
}
p{
	color: #000;
	font-style: normal;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-weight: normal;
	/*line-height:;
	letter-spacing: px;
	text-align: left/right/center/justify;
	text-indent:;
	text-transform: capitalize/uppercase/lowercase;
	text-decoration:;
	*/
}

h2{
	background-image: url('images/CTA_05.jpg');
	padding: 50px;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
}

.content-home ol{
	list-style-type: none;
	height: 100%;
	margin: 0 auto;
}

span{
	color: #C46D3B;
	font: 0.9em Arial, "Trebuchet MS", sans-serif;
	font-style: italic;
}

form{
	background-color: #4B636E;
}

legend{
	font: 1.3em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	text-align: center;
	text-shadow: rgba(0,0,0,0.15) 10px 9px 2px;
}

li{
	color: rgb(22,25,25);
}

label{
	display: block;
}

textarea{
	padding: 10px;
	width: 80%;
}

a{
	outline: 1px dotted grey;
}

a:hover{
	color: red;outline:none;
}

.footer-home{
	font-size: 9pt;
	text-align: center;
	font-weight: normal;
	margin-top: 10px;
}